<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Webbit" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body class="bg-slate-200 relative h-screen overflow-x-hidden accent-indigo-600">
    <%#= debug params %>
    <%# Flash Messages %>
    <% flash.each do |type, message| %>
      <% if type == "alert" %>
        <div class="bg-red-200">
          <div class="container px-2 mx-auto py-4 text-red-600 text-center font-medium">
            <%= message %>
          </div>
        </div>
      <% end %>
      <% if type == "notice" %>
        <div class="bg-green-200">
          <div class="container px-2 mx-auto py-4 text-green-600 text-center font-medium">
            <%= message %>
          </div>
        </div>
      <% end %>
    <% end %>

    <%# Main Navigation %>
    <nav class="bg-white py-2 border-b border-slate-400" role="navigation" aria-label="main navigation">
      <div class="flex flex-wrap items-center justify-center lg:justify-start lg:content-center px-4 lg:px-6 lg:space-x-3 lg:py-0 py-3">
        <%= link_to root_path, class: "leading-normal no-underline text-gray-800 my-2 md:my-0 hover:text-indigo-600 lg:w-auto w-full lg:text-left text-center" do %>
          <h1 class="text-lg pr-2 uppercase font-semibold">Webbit</h1>
        <% end %>
        <div class="flex flex-wrap justify-start w-full lg:w-2/3 flex-1">
          <div class="flex flex-wrap items-center lg:flex-1 lg:space-x-6 lg:w-auto w-full">
            <% if @communities.any? %>
              <div class="lg:w-1/4 w-full lg:mb-0 mb-3">
                <div data-controller="dropdown" class="rounded bg-white text-gray-700 ml-1 hover:bg-gray-50 relative">
                  <%= link_to "#", class: "border no-underline flex items-center justify-between text-gray-700 py-3 px-3 rounded border border-gray-400", data: {action: "click->dropdown#toggle click@window->dropdown#hide"} do %>
                    <span class="font-semibold text-sm"><%= content_for?(:community_label) ? yield(:community_label) : "Select a Community" %></span>
                    <div class="pointer-events-none absolute inset-y-5 right-1 flex items-center">
                      <%= render_svg "icons/chevron-down", styles: "fill-current w-5 h-5 text-gray-500" %>
                    </div>
                  <% end %>
                  <ul class="hidden absolute z-10 top-10 left-0 bg-white min-w-[250px] border border-gray-400 shadow-lg rounded overflow-hidden divide-y" data-dropdown-target="menu">
                    <% @communities.each do |community| %>
                      <li>
                        <%= link_to community, class: "bg-white rounded px-4 py-2 hover:bg_indigo-50 hover:text-indigo-700 flex items-center group" do %>
                          <%= render_svg "icons/conversation", styles: "fill-current w-5 h-5 text-gray-500 group-hover:text-indigo-600 mr-2" %>
                          <span>w/</span><%= community.name %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
            <div class="lg:flex-1 lg:w-auto w-full lg:mb-0 mb-3">
              <div class="relative">
                <input type="text" class="input pl-9" placeholder="Search Webbit">
                <div class="pointer-events-none absolute flex items-center inset-y-5 left-2">
                  <%= render_svg "icons/search", styles: "stroke-current w-6 h-6 text-gray-600" %>
                </div>
              </div>
            </div>
          </div>
          <div class="lg:pl-6 flex flex-wrap items-center justify-end pt-4 lg:pt-0">
            <div class="mr-3">
              <%if user_signed_in? %>
                <%= link_to new_submission_path do %>
                  <%= render_svg "icons/create" %>
                <% end %>
              <% else %>
                <%= link_to "Login", new_user_session_path, class: "btn btn-outline mr-4" %>
                <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-indigo" %>
              <% end %>
            </div>
            <%# BEGIN Account Dropdown %>
            <% if user_signed_in? %>
              <div data-controller="dropdown" class="border no-underline flex items-center justify-between text-gray-700 py-3 px-3 rounded border-gray-400">
                  <%= link_to "#", class: "no-underline flex justify-between text-xs tracking-wide items-center font-semibold", data: {action: "click->dropdown#toggle click@window->dropdown#hide"} do %>
                    <%= current_user.username ||= current_user.email %>
                    <%= render_svg "icons/chevron-down" %>
                  <% end %>
                  <ul class="hidden absolute top-6 -right-1 bg-white min-w-[200px] border border-gray-400 shadow-lg rounded overflow-hidden" data-dropdown-target="menu">
                    <li>
                      <%= link_to profile_path(current_user), class: "hover:bg-indigo-600 hover:text-white text-gray-700 no-underline block py-3 px-4 flex items-center text-sm w-full group" do %>
                        <%= render_svg "icons/user", styles: "w-5 h-5 fill-current group-hover:text-white text-gray-600 mr-3" %>
                        My Profile
                      <% end %>
                    </li>
                    <li>
                      <%= link_to edit_user_registration_path, class: "hover:bg-indigo-600 hover:text-white text-gray-700 no-underline block py-3 px-4 flex items-center text-sm w-full group" do %>
                        <%= render_svg "icons/settings", styles: "w-5 h-5 fill-current group-hover:text-white text-gray-600 mr-3" %>
                        Account Settings
                      <% end %>
                    </li>
                    <li>
                      <%= button_to destroy_user_session_path, method: :delete, class: "hover:bg-indigo-600 hover:text-white text-gray-700 no-underline block py-3 px-4 flex items-center text-sm w-full group" do %>
                        <%= render_svg "icons/signout", styles: "w-5 h-5 fill-current text-gray-600 mr-3 group-hover:text-white" %>
                        Sign Out
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            <% end %>
            <%# END Account Dropdown %>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
